* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
    font-family: "Inter", sans-serif;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    height: 8rem;
    border-bottom: solid 2px #202020;
}

.logo > img {
    margin: auto;
    width: 70px;
    filter: invert();
}

.nav-container {
    display: flex;
    flex-direction: column;      /* Organiza a navegação em coluna */
    justify-content: center;     /* Centraliza a navegação verticalmente */
    flex-grow: 1;                /* Faz a navegação ocupar o espaço restante */
    align-items: center;         /* Centraliza os itens horizontalmente */
}

.side-bar {
    background-color: #111111;
    height: 100vh;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 50vh;
    gap: 1rem;
}

 
.table-container {
    margin-top: 5vh;
    width: 80vw;
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  thead th {
    background-color: #111111;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }

  
  tbody td {
    padding: 10px;
    font-size: 0.7rem;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  
  
  th, td {
    text-align: center;
  }

  .primeiro{
    border-radius: 10% 0 0 10%;
  }

  .ultimo{
    border-radius: 0 10% 10% 0;
  }

  .segundo, .quinto{
    font-weight: bold;
  }

li {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.arrow {
    height: 0.5rem;
    width: 0.5rem;
    filter: invert();
}

.icon {
    width: 20px;
    height: 20px;
    filter: invert();
}

main {
    flex-grow: 1;
    padding: 2rem 0rem 0rem 4rem;
}

.search-container {
    margin-top: 5rem;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0vw 3vw;
    align-items: center;
    border-radius: 10px;
}

.search-container input {
    border-radius: 5px;
    width: 20vw;
    height: 2.5vw;
    padding-left: 10px;
    border: solid 1px gray;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-container img {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; 
}

.search-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 2.5vw;
    width: 15vw;
    border: none;
    background-color: #2E8B57;
    color: #fff;
}

#more {
    font-size: 2rem;
    margin-right: 10px;
}